*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}

.header{
    padding:0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(3, 22, 77);
    background-color: azure;

}
.header h1{
    font-size: 54px;
    display:inline-block;
}
.header {
    padding-top: 20px;
    margin-right: 22px;
    align-items:center;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(48, 70, 134)
    ;
 }
.header ul{
    list-style-type: none;
}
.header ul li{

    display: inline-block;
    margin-left: 25px;
}

.spacex {

    height:600px;
    width:100%; 
    margin-bottom: 40px;
    background: url(/images/backy.jpg);   
    background-size: cover;
    background-position: center;
}
#iphoto {
    margin: 410px auto;
    border: 5px solid black;
}

a  {
    text-decoration: none;
}

.skills{

}
